include modal.pug

mixin IncludeCSS(filename)
    - let path = `assets/css/${filename}`
    link(rel="stylesheet", href=path)

mixin IncludeJS(filename)
    - let path = `assets/js/${filename}`
    script(src=path)

mixin InputRadio(name, label)
    label.radio= label
        input(type="radio" name=name)
        span.checkmark

mixin BtnMenu()
    button.btn__menu
        span

mixin Malfunction(imgPath, title, price)
    .malfunction-card 
        .image(style=`background-image:url(${imgPath})`)
        h3= title 
        p= price 
        a(modal="Price").btn обратиться

mixin EconomyCard(imgPath, text)
    .economy-card 
        img(src= imgPath, alt="")
        p !{text}

mixin MastersCard(imgPath, name, post)
    .master-card 
        img(src= imgPath, alt="")
        h3= name 
        p= post